doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		title Document
		// Google font
		link(href='https://fonts.googleapis.com/css?family=Ubuntu&display=swap' rel='stylesheet')
		// Main style
		link(rel='stylesheet' href='/css/style.css')
	body
		.main
			.img
				img(src='/images/border.svg' alt='border')
			.content
				.content__title Payment
				.form
					.input-control
						label.inp(for='inp')
							input#inp(type='text' placeholder=' ')
							span.label Customer
							span.focus-bg
					.form__title Card details
					.input-control
						label.inp(for='id')
							input#id(type='text' placeholder=' ')
							span.label Card number
							span.focus-bg
					.input-control.input-control--short
						label.inp(for='date')
							input#date(type='text' placeholder=' ')
							span.label Date
							span.focus-bg
					.input-control.input-control--short
						label.inp(for='ccv')
							input#ccv(type='text' placeholder=' ')
							span.label CVV
							span.focus-bg
					.form__title Bill information
					.input-control
						label.inp(for='firstName')
							input#firstName(type='text' placeholder=' ')
							span.label First name
							span.focus-bg
					.input-control
						label.inp(for='lastName')
							input#lastName(type='text' placeholder=' ')
							span.label Last name
							span.focus-bg
					.input-control
						label.inp(for='firstName')
							input#companyName(type='text' placeholder=' ')
							span.label Company name
							span.focus-bg
					.input-control
						label.inp(for='billing')
							input#billing(type='text' placeholder=' ')
							span.label Billing address
							span.focus-bg
					.input-control
						label.inp(for='zipCode')
							input#zipCode(type='text' placeholder=' ')
							span.label Zip code
							span.focus-bg
					.input-control
						label.inp(for='country')
							input#country(type='text' placeholder=' ')
							span.label Country
							span.focus-bg
					button.form__submit Pay usd$250