doctype html
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet', href='/css/style.css')
        script(src='https://js.stripe.com/v3/')
        script(src='https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch')
        script(src='/js/client.js')
    body
        form(id='payment-form')
            div(id='card-element')
            button(id='submit')
                div(class=['spinner', 'hidden'], id='spinner')
                span(id='button-text') Pay
            p(id='card-error', role='alert')
            p(class='result-message hidden') Payment succeeded, see the result in your
                a(href='', target='_blank') Stripe dashboard.